<div j-breadcrumb j-data="breadcrumbs"></div>
<h1 class="page-header">{{page.title}}</h1>
<div class="clearfix main-header">
    <div class="pull-left">
        <h3>接口列表</h3>
    </div>
    <div class="list-buttons pull-right">
        <a type="button" class="btn btn-primary" ui-sref=".add">新增</a>
        <a type="button" class="btn btn-success" ng-click="page.export()">上传</a>
        <a type="button" class="btn btn-default" ui-sref=".add">预览</a>
    </div>
</div>
<div class="main-list table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="80">序号</th>
                <th width="200">接口名称</th>
                <th width="200">接口地址</th>
                <th>接口描述</th>
                <th width="100">所属项目</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in page.pageData">
                <td>{{$index+1}}</td>
                <td class="ellipsis" j-quick j-value="item['name']" j-save="page.quickSave(item['id'],'name',item['name'])"></td>
                <td class="ellipsis"j-quick j-value="item['url']" j-save="page.quickSave(item['id'],'url',item['url'])"></td>
                <td class="ellipsis"j-quick j-value="item['desc']" j-save="page.quickSave(item['id'],'desc',item['desc'])"></td>
                <td>{{item['project']}}</td>
                <td><div class="ngCellOpt"><a ui-sref="requests.edit({id:item['id']})">编辑</a><a href="javascript:;" ng-click="page.copy(item['id'])">复制</a><div j-delete j-click="page.remove(item['id'])">删除</div></div></td>
            </tr>
            <tr ng-if="!page.pageData.length"><td colspan="6" align="center">暂无数据。</td></tr>
        </tbody>
    </table>
</div>
