<div j-breadcrumb j-data="breadcrumbs"></div>
<h1 class="page-header">{{page.title}}</h1>
<div class="clearfix main-header">
    <div class="pull-left">
        <h3>项目列表</h3>
    </div>
    <div class="list-buttons pull-right">
        <a type="button" class="btn btn-default" ui-sref=".add">新增</a>
    </div>
</div>
<div class="main-list table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>项目名称</th>
                <th>项目描述</th>
                <th>项目版本</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in page.pageData">
                <td>{{$index+1}}</td>
                <td>{{item['name']}}</td>
                <td class="ellipsis">{{item['description']}}</td>
                <td>{{item['version']}}</td>
                <td><div class="ngCellOpt"><a ui-sref="requests({collectionId:item['id']})">查看接口</a><a href="javascript:;" ng-click="page.export(item['id'])">导出</a><a ui-sref="collections.preview({id:item['id']})" target="_blank">预览</a><a ui-sref=".edit({id:item['id']})">编辑</a><div j-delete j-click="page.remove(item['id'])" j-tip="确认删除吗？同时将删除对应的接口信息">删除</div></div></td>
            </tr>
            <tr ng-if="!page.pageData.length"><td colspan="6" align="center">暂无数据。</td></tr>
        </tbody>
    </table>
</div>
