<style type="text/css">
th {
    border: 1px solid #ccc;
    height: 35px;
    padding: 5px 10px 5px 10px;
}

td {
    border: 1px solid #ccc;
    height: 35px;
    padding: 5px 10px 5px 10px;
}

table {
    border: 1px solid #ccc;
    margin: 10px auto;
}

th:first-child {
    width: 15%
}

th:nth-child(2) {
    width: 44%
}

th:nth-child(3) {
    width: 15%
}
.detail{
    padding: 0;
    background: white;
    border: 0;
}
</style>
<div>
    <h2>{{page.data.name}}</h2>
    <p><b>版本：</b>{{page.data.version}}</p>
    <p><b>描述：</b>{{page.data.description}}</p>
    <p><b>约定：</b>{{page.data.content}}</p>
</div>
<div ng-repeat="item in page.data.requests" style="margin-bottom: 40px;">
    <h3>{{$index+1}}：{{item['name']}}</h3>
    <p><strong>URL：</strong>{{item['url']}}</p>
    <p><strong>说明</strong>：{{item['description']}}
        <p/>
        <div><strong>请求参数：</strong>
            <table width="100%" cellpadding="3" cellspacing="1">
                <tr>
                    <th>关键字</th>
                    <th>描述</th>
                    <th>类型</th>
                    <th>是否必填</th>
                </tr>
                <tr ng-repeat="sitem in item.data">
                    <td>{{sitem.key}}</td>
                    <td>{{sitem.description}}</td>
                    <td>{{sitem.type}}</td>
                    <td>{{sitem.checked}}</td>
                </tr>
                <tr ng-if="!item.data.length">
                    <td colspan="4" align="center">暂无数据。</td>
                </tr>
            </table>
        </div>
        <div><strong>响应参数：</strong>
            <table width="100%" cellpadding="3" cellspacing="1">
                <tr>
                    <th>关键字</th>
                    <th>描述</th>
                    <th>类型</th>
                    <th>约束</th>
                    <th>详情</th>
                </tr>
                <tbody ng-repeat="sitem in item.responses">
                    <tr>
                        <td>{{sitem.key}}</td>
                        <td>{{sitem.description}}</td>
                        <td>{{sitem.type}}</td>
                        <td>{{sitem.checked}}</td>
                        <td><a href="" class="check" ng-show="{{sitem.detail}}">隐藏</a><span ng-show="{{!sitem.detail}}">无</span></td>
                    </tr>
                    <tr ng-show="sitem.detail">
                        <td colspan="5">
                            <pre class="detail">{{sitem.detail}}</pre></td>
                    </tr>
                </tbody>
                <tr ng-if="!item.responses.length">
                    <td colspan="5" align="center">暂无数据。</td>
                </tr>
            </table>
        </div>
</div>
<script>
var a, b;
$(function() {
    $("body").on('click', '.check',
        function() {
            try {
                a = $(this).parent().parent().next().children().children().text();
                b=a;
                a = JSON.parse(a);
                a = JSON.stringify(a, null, 5);
                $(this).parent().parent().next().children().children().text(a);
            } catch (err) {
                 $(this).parent().parent().next().children().children().text(b);
            }
            if ($(this).parent().parent().next().is(":visible")) {
                $(this).parent().parent().next().hide();
                $(this).text("查看");
            } else {
                $(this).parent().parent().next().show();
                $(this).text("隐藏");
            }
        }
    );
});
</script>
