<div ng-repeat="item in page.requests">
    <h3>{{$index+1}}：{{item['name']}}</h3>
    <p>URL：{{item['url']}}</p>
    <p>说明：{{item['description']}}</>
    <div>请求参数：
    <table width="100%" cellpadding="3" cellspacing="1">
    	<tr>
    		<th>关键字</th>
    		<th>描述</th>
    		<th>类型</th>
    		<th>是否必填</th>
    	</tr>
    	<tr ng-repeat="sitem in item.data">
    		<td>{{sitem.key}}</td>
    		<td>{{sitem.description}}</td>
    		<td>{{sitem.type}}</td>
    		<td>{{sitem.checked}}</td>
    	</tr>
    	<tr ng-if="!item.data.length"><td colspan="6" align="center">暂无数据。</td></tr>
    </table>
    </div>
    <div>响应参数：
    <table width="100%" cellpadding="3" cellspacing="1">
    	<tr>
    		<th>关键字</th>
    		<th>描述</th>
    		<th>类型</th>
    		<th>约束</th>
    	</tr>
    	<tr ng-repeat="sitem in item.response">
    		<td>{{sitem.key}}</td>
    		<td>{{sitem.description}}</td>
    		<td>{{sitem.type}}</td>
    		<td>{{sitem.checked}}</td>
    	</tr>
    	<tr ng-if="!item.response.length"><td colspan="6" align="center">暂无数据。</td></tr>
    </table>
    </div>
</div>
