<div j-breadcrumb j-data="breadcrumbs"></div>
<h1 class="page-header">{{page.title}}</h1>
<div class="row">
    <div class="col-md-10">
        <form name="form" class="main-content form-horizontal" novalidate ng-submit="page.save(page.groups)">
            <div class="panel panel-default" ng-repeat="group in page.groups.data" id="p-{{$index}}">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{group.name}}</h4>
                    <div class="btn-group pull-right">
                        <a href="javascript:;" class="btn btn-sm" ng-if="group.showSource" ng-click="page.change(group)">## 格式</a>
                        <a href="javascript:;" class="btn btn-sm" ng-if="!group.showSource" ng-click="page.change(group)">## 源码</a>
                    </div>
                </div>
                <div class="panel-body" ng-if="!group.showSource">
                    <div class="form-group" ng-repeat="item in group.fields" ng-show="{{item.display}}">
                        <label class="col-md-2 control-label"><span class="text-danger" ng-if="item.required">*</span>{{item.title}}</label>
                        <div class="col-md-10" ng-switch="item.type">
                            <input ng-switch-when="text" type="text" class="form-control" placeholder="{{item.title}}" ng-model="item.value" ng-required="item.required">
                            <input ng-switch-when="password" type="password" class="form-control" placeholder="{{item.title}}" ng-model="item.value" ng-required="item.required">
                            <textarea ng-switch-when="textarea" class="form-control" rows="5" placeholder="{{item.title}}" ng-model="item.value" ng-required="item.required"></textarea>
                            <select ng-switch-when="select" class="form-control" ng-model="item.value" ng-options="eo.id as eo.name for eo in item.enumObj">
                                <option value="">请选择</option>
                            </select>
                            <label ng-switch-when="bool" class="radio-inline">
                                <input type="radio" name="{{item.key}}" ng-model="item.value" value="1">是
                            </label>
                            <label ng-switch-when="bool" class="radio-inline">
                                <input type="radio" name="{{item.key}}" ng-model="item.value" value="0">否
                            </label>
                            <div ng-switch-when="enum_check">
                                <label ng-repeat="eo in item.enumObj" class="checkbox-inline">
                                    <input type="checkbox" name="{{item.key}}" ng-model="eo.checked" ng-value="{{eo.value}}">{{eo.name}}
                                </label>
                            </div>
                            <div ng-switch-when="file" j-file j-img="item.value" j-max="5"></div>
                            <div ng-switch-when="uploader" j-uploader="data/upload.json"></div>
                            <div ng-switch-when="date" class="input-group date">
                                <input j-date type="text" class="form-control" placeholder="{{item.title}}" ng-model="item.value" ng-required="item.required">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div ng-switch-when="expires" class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input j-date type="text" class="form-control" ng-model="item.start.value" end="item.end.value">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input j-date type="text" class="form-control" ng-model="item.end.value" start="item.start.value">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="region" j-region options="item" selects="item.selects"></div>
                            <div ng-switch-when="mutiple" j-mutiple options="item" data="item.value"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="$last">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || isSubmiting">确认</button>
                            <button class="btn btn-default" type="button" ng-click="abc()">取消</button>
                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#responseModal">响应正文</button>
                        </div>
                    </div>
                    <div class="form-group" ng-if="$last && !isSuccess">
                        <div class="col-md-offset-2 col-md-10">{{errorMsg}}</div>
                    </div>
                </div>
                <div class="panel-body" ng-if="group.showSource">
                    <div class="form-group" ng-if="$last">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="10" ng-model="group.source"></textarea>
                            <!-- <div ng-model="group.source" contenteditable="true">{{group.source}}</div> -->
                        </div>
                    </div>
                </div>
                <div class="panel-footer">1.0</div>
            </div>
        </form>
    </div>
    <div class="col-md-2 sidebar">
        <div class="panel panel-default" j-fixed>
            <div class="panel-heading">
                <h4 class="panel-title"><span class="glyphicon glyphicon-folder-close"></span>快速导航</h4>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="#to{{$index}}" j-scroll-to ng-repeat="item in page.groups.data"><span class="glyphicon glyphicon-file text-info"></span><span>{{ item.name }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form class="form">
            <div class="form-group">
                <textarea class="form-control" rows="10" ng-model="page.responseFields"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-default" ng-click="page.formatFields()">格式化</button>
        <button type="button" class="btn btn-primary" ng-click="page.saveFromResponseJson()">保存</button>
      </div>
    </div>
  </div>
</div>