<div class="form-group" ng-repeat="item in data">
    <div class="row" {{item.key}}>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Key" ng-model="item.key">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="描述" ng-model="item.description">
        </div>
        <div class="col-md-2">
	        <select class="form-control" ng-model="item.type">
	        	<option value="">类型</option>
	        	<option value="string">String</option>
	        	<option value="number">Number</option>
	        	<option value="enum">Enum</option>
	        	<option value="object">Object</option>
	        	<option value="other">Other</option>
	        </select>
        </div>
        <div class="col-md-2">
        <label class="checkbox">
            <input type="checkbox" ng-model="item.checked">是否必填
        </label>
        </div>
        <div class="col-md-1">
            <div class="btn btn-default" ng-if="!$last" ng-click="remove($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="btn btn-default" ng-if="$last" ng-click="add($index)">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
</div>
